*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.mart{
    width: 280px;
    height: 500px;
    background-color: rgb(255, 14, 155);
    margin: 40px auto;
}

.wre{
width: 200px;
height: 200px;
border: 6px solid whitesmoke;
border-radius: 50%;
background-image: url(../img/dogblack.png);
background-repeat: no-repeat;
background-size: 100%;
 position: absolute; 
 margin-top: 140px;
 margin-left: 40px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
 margin-bottom: 1rem; 
 transition: filter 0.4s ease-in-out; 
}
.wre:hover{
    background-image: url(../img/dog.png);  
}
.mart p{
text-align: center;
font-size: 34px;
padding-top: 400px;
font-style: italic;
}
.mart:hover p{
    text-decoration: underline;
}
